<div class="card mb-4 mt-4 shadow">
  <ngx-spinner type="cog"
               color="#79bbb5"
               [fullScreen]="false"
               [name]="nomeSpinner">
  </ngx-spinner>
  <div class="card-header">
    <div class="row">

      <div class="col">
        <h4>Dados do Responsável</h4>
      </div>

      <div class="col text-right">
        <button type=button class="btn btn-link mr-2" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed">
          <fa-icon *ngIf="isCollapsed" icon="eye"></fa-icon>
          <fa-icon *ngIf="!isCollapsed" icon="eye-slash"></fa-icon>
        </button>
      </div>

    </div>
  </div>

  <div class="card" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card-body" >
      <div class="row">
        <div class="col text-right mb-4">
          <button type=submit class="btn btn-primary mr-3" (click)="editarResponsavel()">
            <fa-icon icon="edit" class="mr-2"></fa-icon>
            <span>Editar Informações</span>
          </button>
          <button [disabled]="responsavelForm.form.pristine" type=submit class="btn btn-primary"
                  (click)="salvarAlteracoes(); responsavelForm.form.reset()">
            <fa-icon icon="save" class="mr-2"></fa-icon>
            <span>Salvar Alterações</span>
          </button>
        </div>
      </div>
      <form class="form-group" id="responsavel" #responsavelForm="ngForm">

        <div class="row">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Nome Completo" triggers="mouseenter:mouseleave" icon="user"></fa-icon>
                </div>
              </div>
              <input id="nome-completo" class="form-control" aria-label="nomeCompleto" name="nomeCompleto"
                                [readOnly]="estaBloqueado" [(ngModel)]="responsavel.nomeCompleto">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Parentesco" triggers="mouseenter:mouseleave" icon="user-friends"></fa-icon>
                </div>
              </div>
              <input class="form-control" aria-label="parentesco" name="parentesco"
                             [readOnly]="estaBloqueado" [(ngModel)]="responsavel.parentesco">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Data de Nascimento" triggers="mouseenter:mouseleave" icon="birthday-cake"></fa-icon>
                </div>
              </div>
              <input type="date" class="form-control" aria-label="dataNascimento" name="dataNascimento"
                     [readOnly]="estaBloqueado" [(ngModel)]="dataNascimento">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="CPF" triggers="mouseenter:mouseleave" icon="id-card"></fa-icon>
                </div>
              </div>
              <input maxlength="14" type="text" class="form-control" aria-label="cpf" name="cpf" mask="CPF_CNPJ"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.cpf">
            </div>
          </div>

        </div>

        <div class="row pt-3">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Email" triggers="mouseenter:mouseleave" icon="at"></fa-icon>
                </div>
              </div>
              <input class="form-control" readonly aria-label="email" value="{{responsavel?.login?.email}}">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Telefone" triggers="mouseenter:mouseleave" icon="mobile-alt"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="telefone"
                     name="telefone" mask="(00) 0 0000-0000" maxlength="11"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.telefone">
            </div>
          </div>

        </div>

        <div class="row pt-3">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Rua" triggers="mouseenter:mouseleave" icon="road"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="rua" name="rua"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.rua">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Bairro" triggers="mouseenter:mouseleave" icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="bairro" name="bairro"
                     [(ngModel)]="responsavel.endereco.bairro" [readOnly]="estaBloqueado">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Número" triggers="mouseenter:mouseleave" icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="numero" name="numero"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.numero">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="CEP" triggers="mouseenter:mouseleave" icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="cep"
                     name="cep" maxlength="8" mask="00000-000"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.cep">
            </div>
          </div>

        </div>

        <div class="row pt-3">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Complemento" triggers="mouseenter:mouseleave" icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="complemento" name="complemento"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.complemento">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Estado" triggers="mouseenter:mouseleave" icon="map"></fa-icon>
                </div>
              </div>
              <select [disabled]="estaBloqueado" id="estado" class="form-control" name="estado" [(ngModel)]="responsavel.endereco.estado">
                <option value="">Selecione o estado</option>
                <option *ngFor="let estado of estados" [value]="estado">{{estado}}</option>
              </select>
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon ngbPopover="Cidade" triggers="mouseenter:mouseleave" icon="city"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="cidade" name="cidade"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.cidade">
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>

</div>
