<ngx-spinner></ngx-spinner>
<div class="container-fluid">
  <app-dados-terapeuta></app-dados-terapeuta>
  <div class="card shadow">
    <div class="card-header">
      <div>
        <div class="row">
          <div class="col">
            <h4>Pacientes</h4>
          </div>
          <div class="col text-right">
            <button type=button class="btn btn-link mr-2" (click)="collapse.toggle()"
                    [attr.aria-expanded]="!isCollapsed">
              <fa-icon *ngIf="isCollapsed" icon="eye"></fa-icon>
              <fa-icon *ngIf="!isCollapsed" icon="eye-slash"></fa-icon>
            </button>
            <button class="btn btn-info" (click)="adicionarPaciente()">
              <fa-icon class="mr-2" icon="plus"></fa-icon>
              <span>Adicionar paciente</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card-body">
        <form>
          <div class="form-group form-inline">
            <span>Buscar paciente:</span>
            <input class="form-control ml-2" aria-label="filtro" type="text" name="filtro"
                   [formControl]="filtro" (input)="$event.target.value"/>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome Completo</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Responsáveis</th>
                <th scope="col">Ficha</th>
              </tr>
              </thead>
              <tbody>
              <tr
                *ngFor="let paciente of pacientes | listFilter: filtro.value | slice: (paginaAtual-1) * tamanhoPagina : paginaAtual * tamanhoPagina">
                <th scope="row">{{ paciente.id }}</th>
                <td>{{ paciente.nomeCompleto}}</td>
                <td>{{ paciente.dataNascimento}}</td>
                <td>
                  <button class="btn btn-link ml-4" (click)="visualizarResponsavel(paciente)">
                    <fa-icon icon="male" size="lg"></fa-icon>
                    <fa-icon icon="female" size="lg"></fa-icon>
                  </button>
                </td>
                <td>
                  <button class="btn btn-link" (click)="emitirRelatorio()">
                    <fa-icon icon="file-pdf" size="lg"></fa-icon>
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
            <div class="col-sm text-left">
              <ngb-pagination [(page)]="paginaAtual"
                              [pageSize]="tamanhoPagina"
                              [collectionSize]="totalItens">
              </ngb-pagination>
            </div>
            <div class="col-sm text-right">
              <select aria-label="tamanhoPagina" class="custom-select w-auto" name="tamanhoPagina"
                      [(ngModel)]="tamanhoPagina">
                <option [value]="5">5 itens por pagina</option>
                <option [value]="10">10 itens por pagina</option>
                <option [value]="15">15 itens por pagina</option>
              </select>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
