<div class="container-fluid pt-5">
  <div class="card">
    <div class="card-header" style="color: white; background-color: darkcyan">
      <h3 class="card-title">Informações sobre o projeto</h3>
    </div>
    <div class="card-body">
      <p class="text-justify">
        O diagnóstico do Transtorno do Espectro Autista é aplicado a pessoas que, desde a infância, entre outras características, apresentam prejuízos na comunicação que dificultam a convivência em sociedade. Um dos recursos auxiliares disponíveis no tratamento de TEA é a Robótica Socialmente Assistiva, que visa ser um meio de treinamento que ajuda pessoas a desenvolverem habilidades de socialização. Neste caso, esse auxílio é para o desenvolvimento de funções de comunicação para crianças com TEA identificado.
        Uma das ferramentas auxiliares de RSA's é a Inteligência Artificial, que pode ter um papel de mapear o desenvolvimento e auxiliar o desenho de possíveis rotas de melhoria.
      </p>
      <p class="text-justify">
        Neste trabalho esses conceitos são aprofundados e discutidos no desenvolvimento de um sistema para auxiliar profissionais de fonoaudiologia que usam o Inventário de Portage como instrumento de estimativa de desenvolvimento infantil. Utilizando uma placa Raspberry como núcleo de processamento de um robô, permitiu-se a interação entre criança e sistema em um jogo de desafios e respostas, onde aplicou-se o cálculo de edição e o algortimo Q-Learning combinados de forma a estimar os pontos de reforço necessários ao desenvolvimento de uma criança. Outro produto deste trabalho é uma aplicação WEB para gerenciamento de pacientes a terapeutas e fornece dados de atendimento a estes terapeutas e aos responsáveis pelo paciente. Os resultados apresentados foram realizados em ambiente simulado com o objetivo de demonstrar o funcionamento do sistema.
      </p>
    </div>
  </div>
</div>
