<div class="container-fluid">
  <app-dados-terapeuta></app-dados-terapeuta>
  <div class="card shadow">
    <div class="card-header">
      <div class="card-title">
        <div class="row">
          <div class="col">
            <h4 (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">Pacientes</h4>
          </div>
          <div class="col text-right">
            <button class="btn btn-info" (click)="adicionarPaciente()">
              <fa-icon class="mr-2" icon="plus"></fa-icon>
              <span>Adicionar paciente</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
      <div class="card-body">
        <form>
          <div class="form-group form-inline">
            <span>Buscar paciente:</span>
            <input class="form-control ml-2" aria-label="filtro" type="text" name="filtro"
                   [formControl]="filtro" (input)="$event.target.value"/>
          </div>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table-light">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Nome Completo</th>
                <th scope="col">Data de Nascimento</th>
                <th scope="col">Responsáveis</th>
                <th scope="col">Ficha</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let paciente of pacientes | listFilter: filtro.value">
                <th scope="row">{{ paciente.id }}</th>
                <td>{{ paciente.nomeCompleto}}</td>
                <td>{{ paciente.dataNascimento}}</td>
                <td></td>
                <td></td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="d-flex justify-content-between p-2">
            <ngb-pagination>
            </ngb-pagination>

            <select class="custom-select" style="width: auto" name="pageSize">
              <option>5 itens por pagina</option>
              <option>10 itens por pagina</option>
              <option>15 itens por pagina</option>
            </select>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
