<div class="card mb-4 mt-4 shadow">

  <div class="card-header">
    <div class="row">

      <div class="col">
        <h4>Dados do Responsável</h4>
      </div>

      <div class="col text-right">
        <button type=button class="btn btn-link mr-2" (click)="collapse.toggle()"
                [attr.aria-expanded]="!isCollapsed">
          <fa-icon *ngIf="isCollapsed" icon="eye"></fa-icon>
          <fa-icon *ngIf="!isCollapsed" icon="eye-slash"></fa-icon>
        </button>
        <button type=submit class="btn btn-primary mr-3">
          <fa-icon icon="edit" class="mr-2"></fa-icon>
          <span>Editar Informações</span>
        </button>
        <!-- <button [disabled]="terapeutaForm.form.pristine" type=submit class="btn btn-primary"
                (click)="salvarAlteracoes(); terapeutaForm.form.reset()">
          <span><i class="fa fa-save mr-2"></i> Salvar Alterações</span>
        </button>
       -->
      </div>

    </div>
  </div>

  <div class="card" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div class="card-body" >
      <form class="form-group" id="responsavel">

        <div class="row">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="user"></fa-icon>
                </div>
              </div>
              <input id="nome-completo" class="form-control" aria-label="nomeCompleto" name="nomeCompleto"
                                [readOnly]="estaBloqueado" [(ngModel)]="responsavel.nomeCompleto">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="user-friends"></fa-icon>
                </div>
              </div>
              <input class="form-control" aria-label="parentesco" name="parentesco"
                             [readOnly]="estaBloqueado" [(ngModel)]="responsavel.parentesco">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="birthday-cake"></fa-icon>
                </div>
              </div>
              <input class="form-control" aria-label="dataNascimento" name="dataNascimento"
                            [readOnly]="estaBloqueado" [(ngModel)]="responsavel.dataNascimento">
            </div>
          </div>

          <div class="col-2">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="id-card"></fa-icon>
                </div>
              </div>
              <input maxlength="14" type="text" class="form-control"
                            aria-label="cpf" name="cpf" mask="CPF_CNPJ"
                            [readOnly]="estaBloqueado" [(ngModel)]="responsavel.cpf">
            </div>
          </div>

        </div>

        <div class="row pt-3">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="at"></fa-icon>
                </div>
              </div>
              <input class="form-control" readonly aria-label="email" value="{{responsavel?.login?.email}}">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="mobile-alt"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="telefone"
                     name="telefone" mask="(00) 0 0000-0000" maxlength="11"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.telefone">
            </div>
          </div>

        </div>

        <div class="row pt-3">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="road"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="rua" name="rua"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.rua">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="bairro" name="bairro"
                     [(ngModel)]="responsavel.endereco.bairro" [readOnly]="estaBloqueado">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="numero" name="numero"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.numero">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="cep"
                     name="cep" maxlength="8" mask="00000-000"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.cep">
            </div>
          </div>

        </div>

        <div class="row pt-3">

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="house-user"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="complemento" name="complemento"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.complemento">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="map"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="estado" name="estado"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.estado">
            </div>
          </div>

          <div class="col-lg">
            <div class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <fa-icon icon="city"></fa-icon>
                </div>
              </div>
              <input type="text" class="form-control" aria-label="cidade" name="cidade"
                     [readOnly]="estaBloqueado" [(ngModel)]="responsavel.endereco.cidade">
            </div>
          </div>

        </div>

      </form>
    </div>
  </div>

</div>
